<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul >
        <li ng-repeat="post in posts.list" class="thumbnail post-list-item">
            <img class="thumb" ng-src="{{post.thumbnail.image_url}}" alt="{{post.name}}" />           
            <div>
                <a ng-click="getComments(post)"> {{post.name}}</a>
                <p>{{post.tagline}}</p>
            </div>
        </li>
      </ul>
      <pagination ng-change="pageChanged()" ng-model="currentPage" total-items="pagination.totalPost" max-size="pagination.maxSize" boundary-link-numbers="true" boundary-links="true"></pagination>

    </div>
  </div>
</div>
